<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="./img/weather.png">
  <link rel="stylesheet" href="./css/styles.css" />
  <script src="./js/test.js"></script>
</head>

<body>
  <div class="main-content">
    <h1>{{>header}}</h1>
    <p>{{errorMsg}}</p>
  </div>

  <div>{{>footer}}</div>
</body>

</html>