<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="./img/weather.png">
  <link rel="stylesheet" href="./css/styles.css" />

</head>

<body>

  <div class="main-content">
    <h1>{{>header}}</h1>
    <p>Here you will get your weather details</p>

    <form>

      <input type="text" placeholder="location">
      <button>Submit</button>

      <p id="msg1"></p>
      <p id="msg2"></p>
    </form>
  </div>



  <script src="./js/test.js"></script>
  <div>{{>footer}}</div>
</body>

</html>